body {
    background-color: #121213;
    color: #d7dadc;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 50px);
    gap: 5px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

#grid div {
    width: 100px;
    height: 50px;
    border: 2px solid #3a3a3c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    margin-top: 10px;
    width: 100%;
    max-width: 300px; /* Limit the maximum width of the keyboard */
    overflow: auto; /* Add scrollbar if keyboard overflows */
    padding: 0 10px; /* Add some padding to prevent edge cutoff */
}

#keyboard button {
    height: 40px;
    background-color: #818384;
    color: white;
    font-size: 1em;
    cursor: pointer;
    padding: 0.5em;
    flex: 1 0 calc(20% - 12px); /* Make buttons flexible and fit within the row */
    max-width: 60px;
    margin: 2px; /* Add some margin between buttons */
    word-wrap: break-word; /* Allow button text to wrap */
}

#keyboard button:hover {
    background-color: #6d6d6f;
}

.reset-button {
    height: 40px;
    border: none;
    background-color: #818384;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px; /* Adjust margin as needed */
    padding: 0.5em;
}

.reset-button:hover {
    background-color: #6d6d6f;
}


.correct {
    background-color: #6aaa64 !important;
}

.present {
    background-color: #c9b458 !important;
}

.absent {
    background-color: #787c7e !important;
}

@media (max-width: 600px) {
    #grid {
        grid-template-rows: repeat(6, 40px); /* Adjust row height for smaller screens */
        gap: 4px;
    }

    #grid div {
        font-size: 1em;
        height: 40px; /* Adjust cell height for smaller screens */
    }

    #keyboard button {
        height: 35px;
        font-size: 0.9em;
    }
}